C:\Users\kosss\Desktop\Studia\Programowanie aplikacji\applications\usos\usos\.idea
C:\Users\kosss\Desktop\Studia\Programowanie aplikacji\applications\usos\usos\.idea\workspace.xml
C:\Users\kosss\Desktop\Studia\Programowanie aplikacji\applications\usos\usos\lib
C:\Users\kosss\Desktop\Studia\Programowanie aplikacji\applications\usos\usos\target
C:\Users\kosss\Desktop\Studia\Programowanie aplikacji\applications\usos\usos\usostable.lck
C:\Users\kosss\Desktop\Studia\Programowanie aplikacji\applications\usos\usos\usostable.tmp
C:\Users\kosss\Desktop\Studia\Programowanie aplikacji\applications\usos\usos\usostable
C:\Users\kosss\Desktop\Studia\Programowanie aplikacji\applications\usos\usos\usostablev2.lck
.idea
.idea/workspace.xml
20170508usostable.tmp/
lib/
target/
usostable.lck
usostable.tmp/
usostable/
usostablev2.lck
usostablev2.tmp/
